<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>contactEmailRot13</key>
  <string>wnayvaqoybz@snfgznvy.sz</string>
  <key>contactName</key>
  <string>Jan Lindblom</string>
  <key>name</key>
  <string>NASM x86_64 Assembly</string>
  <key>uuid</key>
  <string>89e76ca1-b252-492e-856a-1e7045827761</string>
</dict>
</plist>